$white : #e3e3e3;
$grey : #909090;
$black : #232323;
$pale_black : #454545;
$gold : #e0b020;
$pale_gold : #f0c040;
$red : #800000;
$pale_red : #a02020;

$mainFont : "Gill Sans MT";

html {
	width: 100%;
	height: 100%;
	color: $black;
	font-family: $mainFont;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

button {
	user-select: none;
	background-color: transparent;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.header-wrapper {
	flex: 1 100%;
	background-color: $black;
	display: flex;
	align-items: center;

	* {
		color: $gold;
		font-size: 30px;
	}

	.status-text {
		flex: 1;
		padding: 20px;
	}

	.button {
		height: 100%;
	}

	.start {
		background-color: $gold;

		&:hover {
			background-color: $pale_gold;
		}
	}

	.stop {
		background-color: $red;

		&:hover {
			background-color: $pale_red;
		}
	}

	#button-start-stop {
		color: #fff;
	}
}

.footer-wrapper {
	flex: 1 100%;
	padding: 10px 20px;
	background-color: $black;
	display: flex;
	align-items: center;

	* {
		color: $gold;
		font-size: 30px;
		background-color: transparent;
	}

	#brothers-number-wrapper {
		flex: 1;
		max-width: 250px;
		padding: 0;
	}

	.progress-bar {
		flex: 4;
		height: 60%;
	}
}

.side-bar-wrapper {
	flex: 1;
	max-width: 400px;
	background-color: $white;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	fieldset {
		hr {
			width: 90%;
			height: 3px;
			margin: 0 5%;
			border: none;
			background-color: $gold;
		}

		.fieldset-header {
			padding: 5%;
			color: $gold;
			font-weight: bold;
			font-size: 26px;
		}

		.fieldset-content {
			padding: 5%;

		  	.field {
		  		margin-bottom: 10px;
		  		display: flex;

		  		.label {
		  			flex: 1;
		  			font-size: 16px;
					display: flex;
					align-items: center;
		  		}

		  		.input {
		  			flex: 2;
		  		}

		  		.radio-group {
		  			flex: 3;
		  		}
			}
		}
	}

	.button-group {
		display: flex;
		background-color: $grey;

		.button {
			font-size: 26px;
			flex: 1;
		}

		.button-small {
			flex: 0.2;
		}
	}
}

.main-wrapper {
	flex: 3;
	height: 750px;

	#game-area {
		width: 100%;
		height: 100%;
		background-color: white;
		overflow: hidden;
		position: relative;
		user-select: none;
  		cursor: pointer;
		display: flex;
  		justify-content: center;
		align-items: center;

		.spawn {
  			padding: 10px;
  			color: $gold;
  			background-color: $black;
  			border: 5px $gold solid;
  			border-radius: 10px;
  			font-size: 30px;
  			position: absolute;
  		}

  		#spawn-goal {
  			left: 74%;
  			top: 32%;
  		}

  		#spawn-followers {
  			left: 21.5%;
  			top: 32%;
  		}

  		#goal {
  			left: 75%;
  			z-index: 99999;
  			position: absolute;
  			cursor: pointer;

			.goal-txt {
				transform: translateX( -100% );
				max-width: 400px;
				padding: 8px;
				border: 2px $black solid;
				border-radius: 10px 0 10px 10px;
				background-color: $white;
				font-size: 20px;
				display: none;
			}

			.goal-img {
				width: 70px;
				border: 10px transparent solid;
				border-radius: 100%;
			}
  		}

  		.follower {
  			left: 25%;
  			position: absolute;
  			cursor: pointer;

			.follower-txt {
				transform: translateX( -100% );
				max-width: 400px;
				padding: 8px;
				border: 2px $black solid;
				border-radius: 10px 0 10px 10px;
				background-color: $white;
				font-size: 20px;
				display: none;
			}

			.follower-img {
				width: 50px;
				border: 10px transparent solid;
				border-radius: 100%;
			}
  		}
	}
}

.changelog-wrapper {
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 600px;
	background-color: $black;
	z-index: 9999;
	position: absolute;
	display: none;

	.changelog-header {
		display: flex;
		flex-flow: row wrap;

		* {
			padding: 25px;
			font-size: 30px;
		}

		.changelog-title {
			flex: 1;
			color: $gold;
		}

		.changelog-close {
			flex: 0.1;
			background-color: transparent;

			&:hover {
				background-color: $pale_black;
			}
		}
	}

	hr {
		height: 2px;
		border: none;
		background-color: $gold;
	}

	.changelog-content {
		height: 500px;
		margin: 0 20px 20px 20px;
		padding: 15px;
		background-color: $white;
		overflow-y: scroll;

		.version-title {
			color: $gold;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

.button {
	width: 150px;
	padding: 20px;
	font-family: $mainFont;
	color: $gold;
	border : none;
	outline: none;
	transition: background-color 0.15s;
	cursor: pointer;

	&:hover {
		color: $pale_gold;
		background-color: $pale_black;
	}
}

.progress-bar {
	padding: 0;
	background-color: $pale_black;

	.progress {
		width: 0;
		height: 100%;
		padding: 0;
		margin: 0;
		border: none;
		background-color: $gold;
	}
}

.trackbar {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    margin: 5px 0 0 0;
    padding: 0 !important;
    background: $pale_black;
    outline: none;

    &::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    width: 10px;
	    height: 20px;
	    box-shadow: 1px 1px 8px $black;
	    background: $gold;
	    cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: $gold;
   	}
}

.checkbox {
	display: flex;

	.cb-container {
		flex: 1;
		padding: 0 !important;
	    margin: 0 !important;
	    position: relative;
	    cursor: pointer;
	    user-select: none;

		.cb-checkbox {
		    position: absolute;
		    opacity: 0;
		    cursor: pointer;

		    &:checked ~ .checkmark {
			    background-color: $gold;
			}

			&:checked ~ .checkmark:after {
			    display: block;
			}
		}

		.checkmark {
		    top: 0;
		    right: 0;
		    height: 22px;
		    width: 22px;
		    background-color: $pale_black;
		    position: absolute;

		    &:after {
			    content: "";
			    position: absolute;
			    display: none;
			    left: 7px;
			    top: 2px;
			    width: 5px;
			    height: 10px;
			    border: solid $white;
			    border-width: 0 3px 3px 0;
			    transform: rotate( 45deg );
			}
		}
	}
}

#select-bar {
	width: 0;
	background-color: $pale_black;
	position: absolute;
	z-index: 9;
}

.radio-group {
	width: 100%;
	height: 100%;

	label {
		width: 0;
		height: 0;

		.preview {
			width: 30px;
			height: 30px;
			display: inline-block;
			padding: 5px;
			cursor: pointer;
			border-radius: 100%;
			transition: border-color 0.2s;
			text-align: center;
		}

		.preview img {
			max-height: 100%;
			max-width: 100%;
		}

		[type=radio] {
			width: 0;
			height: 0;
			display: none;
		}

		[type=radio]:checked + .preview {
			background-color: $pale_gold;
		}
	}
}

.template {
	left: -9999px;
	position: absolute;
	height: 300px;
}

.lock {
	transition: opacity 0.2s;
}

.locked {
	opacity: 0.5;

    &::-webkit-slider-thumb {
		cursor: auto;
	}
}

.hide-cursor {
	cursor: none !important;
}

@media all and ( max-width: 800px ) {
	.main-wrapper { flex: 0 100%; order: 1; }
	.side-bar-wrapper { flex: 0 100%; order: 2; max-width: 100%; }
	.footer-wrapper { order: 3; }
}